/* center-images.css */
.cell img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    text-align: center;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
